.table {
    width: 90%;
}

.left {
    text-align: left;
    padding: 3px;
}

.right {
    text-align: right;
    padding: 3px;
}

.center {
    text-align: center;
    padding: 3px;
}

.errorMessage {
    color: red;
    margin: 10px 0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}
.modalContent {
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    border-radius: 5px;
    position: relative;
    z-index: 30;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}

.button {
    padding: 10px;
    background-color: lightblue;
    border: 2px solid #333;
    border-radius: 10px;
}

.calendar {
    z-index: 10;
}